* {
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    display: block;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 8px;
    padding: 10px 14px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.226);
}

.box input {
    width: 300px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    padding-right: 12px;
}

.box button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: #25b6d1;
}

#qrcode {
    margin-left: 10px;
}

.qrButton{
    margin-top: 10px;
    height: 35px;
    border-radius: 4px;
    background: #444242;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .3s linear;
}

.qrButton:hover{
    opacity: .85;
}